html,body{
    margin:0;
    padding:0;
}
/*header 부분*/
.header{
    width:100%;
    height:100px;
    position:relative;
    background-color:#F5E0C7;
    padding-top:20px;
}
.headline{
    width: 450px;
    margin: 0 auto;
    position: relative;
}
.input{
    width:450px;
    height:50px;
    margin:15px 0 auto;          /*input은 inline요소여서, block요소로 바꿔야 margin이 적용이 된다.*/
    display:block;          /*inline이였던 걸 block 요소로 바꿈*/
    background-color: #D8B4A0;
    color: #4A4A4A;  
    border:none;            /*테두리 없애기*/
    outline:none;           /*포커스 시 외곽선 없애기*/
    text-indent:15px;       /*placeholder의 위치를 바꿀 수 있음*/
    border-radius: 8px; 
}
/*돋보기*/
.image{
    position:absolute;          /*headline 클래스를 기준으로 함*/
    width:30px;
    height:30px;
    top:8.5px;
    right:20px;
}
/*첫 번째 사진 부분*/
.cozyback{
    position:relative;
}
.cozy{
    width:100%;
    height:auto;
    margin:0 auto;
    display:block;
}
.text1{
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -60px;         /* 텍스트 너비의 절반 정도 */
    margin-top: -30px;          /* 텍스트 높이의 절반 정도 */
    color:white;
    font-size:60px; 
}
.text1 a:hover{
    color:#A88F68;
}
/*두 번째 사진 부분*/
.hipback{
    position:relative;
}
.hip{
    width:100%;
    height:auto;
    margin:0 auto;
    display:block;
}
.text2{
    position:absolute;
    top:50%;
    left:50%;
    margin-left: -45px;          /* 텍스트 너비의 절반 정도 */
    margin-top: -30px;           /* 텍스트 높이의 절반 정도 */
    color:white;
    font-size:60px; 
}
.text2 a:hover{
    color:#F1C40F;
}
/*a태그*/
a{
    text-decoration: none;                  /*a태그 클릭 후 생기는 밑줄*/
    color:white;
}



